body{
   /* Set line spacing */
   line-height: 2;
}


header, nav{
    /* Set padding and margin */
    padding: 3px 5px;
    margin: 2px;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 25px;
    background-color: greenyellow;
}

nav a{
    /* Set text decoration*/
}

a:visited{
    /* Set color */

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
}


h1{
   /*Set font and font size*/

}

h2{
    /*Set font, font size, and alignment*/
}

h3{
    /*Set font size*/

}

h1, h2, h3{
    /*Set margin */

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:30% 30% 30%;
    row-gap: 10px;
    column-gap: 10px;
}

.grid div{
    /* Set border properties, padding, and background color */
    padding: 5%;
    border: 1px solid black;
    border-radius: 15px;
}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    display: block;
    margin: 0 auto;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
